# M√≥dulo 3: Funciones, tuplas, diccionarios y procesamiento de datos. Cadenas, listas y excepciones.

\
<img height="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png">

\
\
A lo largo de este m√≥dulo vamos a adquirir los siguientes conocimientos:


**Duraci√≥n: +5 horas**
*     Definici√≥n y el uso de funciones.
*     Estructuras de datos: Listas, tuplas y diccionarios, y su papel en el procesamiento de datos.
*     Cadenas frente a listas: similitudes y diferencias.
*     Gesti√≥n de excepciones.

**Nota:** Para poder guardar los ejercicios que resuelvan les recomendamos guardar una copia del documento en su Google Drive. La pr√≥xima vez que quieran entrar a la clase y mantener su progreso pueden acceder desde su carpeta de Drive, en lugar de usar el link original.


<img height="300" src="https://raw.githubusercontent.com/IEEESBITBA/Curso-python/master/_assets/guardar_copia_en_drive.png">

## **1. Definici√≥n y uso de funciones**

Podemos pensar que una funci√≥n es como tomar un conjunto de instrucciones y empaquetarlas bajo el mismo nombre, es como un peque√±o programa dentro del programa, una manera de crear nuestras propias instrucciones. Las funciones son bloques que nos permiten acortar el c√≥digo, no repitiendo estructuras que necesitamos utilizar mucho. Al igual que los programas las funciones tienen un *input* y un *output*: el input son las variables de entrada y su output es el valor o valores que devuelven.

En Python las funciones se implementan de la siguiente forma:

```python
def miFuncion(a, b, c, ...):
    
    #Hago lo que necesite con las variables a, b, c, ...
    
    return x , y , z , ...
```
Aqu√≠, el nombre de la funci√≥n es `miFuncion`, los par√°metros de entrada son las variables `a , b , c , ...` que se indican entre par√©ntesis, y los par√°metros que la funci√≥n devuelve son `x , y , z , ...` que se indican con la instrucci√≥n **return**.

Por ejemplo, supongamos que frecuentemente necesito calcular las ganancias totales generadas por cierto producto que se encuentra a la venta en mi negocio. Cada vez que quiera realizar este c√°lculo tendr√© que obtener el valor de cada venta, restarle el costo de fabricaci√≥n y multiplicarlo por la cantidad de ventas. Usando una funci√≥n puedo crear mi propia instrucci√≥n a la que se le ingrese el c√≥digo de producto y devuelva el resultado. As√≠ puedo escribir el nombre de la funci√≥n cada vez que quiera hacer este c√°lculo sin tener que escribir nuevamente el procedimiento completo.

```python
def miFuncion(producto): # recibo el codigo del producto
    cantidad_ventas, valor_venta, costo_fabricacion = buscar_producto(producto)
    return cantidad_ventas*(valor_venta - costo_fabricacion)
```

En el caso de que la funci√≥n no necesite recibir informaci√≥n, los par√©ntesis se deben dejar vac√≠os. Al ejecutar la funci√≥n no hay que olvidarse de escribir estos par√©ntesis, incluso aunque est√©n vac√≠os. Es la forma que tiene Python de diferenciar variables de funciones:

In [ ]:
def saludar():
    print( "¬°Hola! Que tengas un buen d√≠a :)")

print("A continuaci√≥n se imprimir√°n tres saludos:")
saludar()
saludar()
saludar()

A continuaci√≥n se imprimir√°n tres saludos:
¬°Hola! Que tengas un buen d√≠a :)
¬°Hola! Que tengas un buen d√≠a :)
¬°Hola! Que tengas un buen d√≠a :)

In [ ]:
def saludar_devolucion():
  mensaje = "¬°Hola! Que tengas un buen d√≠a :)"
  return mensaje

print(saludar_devolucion())

¬°Hola! Que tengas un buen d√≠a :)

**Nota:** no siempre es necesario poner la instrucci√≥n return al final de la funci√≥n. En este caso la funci√≥n termina cuando finaliza el bloque indentado (con sangr√≠a).

Es importante tener en cuenta que la definici√≥n de la funci√≥n no ejecutar√°n el c√≥digo de las mismas. Solamente le indica a la computadora que, cuando se escriba el nombre de la funci√≥n, esta debe realizar las instrucciones indicadas por la definici√≥n.

**Nota 2:** Es importante saber que Python es un lenguaje interpretado y ejecuta el c√≥digo l√≠nea por l√≠nea. Esto significa que si intentas llamar a una funci√≥n antes de declararla, obtendr√°s un error.

In [ ]:
saludar()  # ‚ùå Error: NameError: name 'saludar' is not defined

def saludar():
    print("¬°Hola!")

NameError: name 'saludar' is not defined

Aqu√≠, el int√©rprete a√∫n no ha le√≠do la definici√≥n de saludar(), as√≠ que cuando intentas llamarla antes, no sabe qu√© es.

Otros lenguajes como Java, son lenguajes compilados y tienen un proceso de compilaci√≥n previo a la ejecuci√≥n. Durante la compilaci√≥n, el compilador escanea todo el c√≥digo y ya conoce todas las funciones antes de que se ejecuten. Por lo tanto, en estos lenguajes, no es necesario crear las funciones antes de llamarlas.

Veamos ahora un ejemplo de funci√≥n:

In [ ]:
def suma(a, b):
    s = a + b
    return s

z = suma(3, 4)
print("3 + 4 =", z)

x = int(input("Ingrese el primer sumando: "))
y = int(input("Ingrese el segundo sumando: "))
z = suma(x, y)
print("x + y =", z)

3 + 4 = 7
Ingrese el primer sumando: 1
Ingrese el segundo sumando: 2
x + y = 3

En este ejemplo podemos ver que los nombres que le damos a las variables de input (a, b) son utilizados de forma interna a la funci√≥n. Cuando ejecutamos la funci√≥n con los valores 3 y 4, las variables pasan a tomar estos valores y luego se ejecutan las instrucciones correspondientes. Cuando ejecutamos la funci√≥n con los par√°metros x, y lo que sucede es que a y b copian los valores de estas variables indicadas.

La instrucci√≥n return sirve para indicar el resultado que la funci√≥n "devuelve". Una vez que se alcanza la instrucci√≥n return la funci√≥n termina y devuelve el valor indicado. En general es preferible devolver informaci√≥n usando return antes que imprimirla usando print ya que esto permite reutilizar la funci√≥n para una cantidad de casos mayor, donde no siempre quiero mostrar el resultado en pantalla, aunque queda a criterio de cada uno para lo que necesite.

Al concepto de funci√≥n tambi√©n podemos combinarlo con las estructuras que vimos previamente:

In [ ]:
def chequarContrase√±a(c):
    if c == "Secreto":
        resultado = True
    else:
        resultado = False
    return resultado


ingresado = input("Ingrese contrase√±a: ")
while not chequarContrase√±a(ingresado):
    ingresado = input("Contrase√±a incorrecta. Ingrese de nuevo:")
else:
    print("Contrase√±a correcta.")

Ingrese contrase√±a: Hola
Contrase√±a incorrecta. Ingrese de nuevo:Hola
Contrase√±a incorrecta. Ingrese de nuevo:Adios
Contrase√±a incorrecta. Ingrese de nuevo:Secreto
Contrase√±a correcta.

**Vamos a practicar un poco üò∞**

In [ ]:
# Ejercicio 1: Crea una funci√≥n que reciba un nombre e IMPRIMA por pantalla un saludo.
def saludar(nombre):
    print(f"¬°Hola {nombre}!")

saludar("Carlos")

¬°Hola Carlos!

In [ ]:
# Ejercicio 2: Escribe una funci√≥n que reciba un n√∫mero y MUESTRE su tabla de multiplicar del 1 al 10.
def tabla_multiplicar(numero):
  for i in range(1, 11):
    print(f"{numero} * {i} = {numero * i}")

tabla_multiplicar(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# Ejercicio 3: Escribe una funci√≥n que reciba dos n√∫meros y DEVUELVA su multiplicaci√≥n.
def multiplicacion(a, b):
  multiplicacion = a * b
  return multiplicacion

resultado = multiplicacion(3, 7)
print("La suma es:", resultado)

La suma es: 21

In [ ]:
# Ejercicio 4: Crea una funci√≥n que reciba un n√∫mero y devuelva True si es < 10 y False si no lo es.
def es_menor(numero):
  if numero < 10:
    return True
  else:
    return False

numero = 200
print(f"Es menor? -> {es_menor(numero)}")

Es menor? -> False

In [ ]:
# Ejercicio 5: Escribe un funci√≥n que reciba un texto y una palabra a buscar. Devuelve TRUE
# si la palabra se encuentra dentro del texto. Devuelve FALSE en cualquier otro caso.
# Pista: usa la funci√≥n mensaje.find("ardilla") del m√≥dulo 2.
def esta_contenida(texto, palabra):
  resultado = texto.find(palabra)
  if resultado == -1:
    return False
  else:
    return True

texto = input("Dame un texto: ")
palabra = input("Dame una palabra: ")
print(f"¬øEl texto contiene la palabra? -> {esta_contenida(texto, palabra)}")

Dame un texto: Hola que tal
Dame una palabra: que
¬øEl texto contiene la palabra? -> True

# Estructuras de datos: Listas, tuplas y diccionarios

Se suele llamar "estructura de datos" a cierta clase de tipos de datos m√°s complejos, los cuales nos permiten organizar la informaci√≥n de manera m√°s efectiva.

En particular, nos permiten agrupar datos (cada uno de ellos con su tipo), e interactuar con ellos de la forma m√°s apropiada.

A continuaci√≥n mostraremos la estructura de datos m√°s sencilla (¬°pero √∫til!) que Python nos ofrece.

### Listas

Las listas nos permiten almacenar elementos de manera secuencial, los cuales pueden ser accedidos mediante el conocimiento de su posici√≥n en la lista. Estas las creamos usando corchetes de la siguiente manera:

> a = **[** $ a_{0}, a_{1}, a_{2}, \dots $ **]**

A continuaci√≥n se mostrara un ejemplo sencillo con listas:

In [ ]:
# Creamos una lista con elementos
a = [ 13, 40, 10, 30, 67 ]
print(a)

# Creamos una lista vac√≠a
b = []
print(b)

# Creamos una lista vac√≠a
c = list()
print(c)

[13, 40, 10, 30, 67]
[]
[]

Para acceder a un elemento de una lista se utiliza `lista[√≠ndice]` de forma similar a como funcionan los strings.
Podemos modificar el elemento asign√°ndole un valor.

Al igual que los strings, las listas permiten hacer **slicing**. Esto significa obtener una sub-lista a partir de valores de comienzo, fin y step indicados entre corchetes y separados por dos puntos.

In [ ]:
a = [5, 6, 7, 8]
print('a =', a)
print('a[0] =', a[0])
print('a[2] =', a[2])

a[2] = 0
print('a =', a)

a = [5, 6, 7, 8]
a[0] = 5
a[2] = 7
a = [5, 6, 0, 8]

In [ ]:
# Se pueden intercambiar dos elementos de una lista de la siguiente forma
a = [5, 6, 7, 8]

a[0], a[1] = a[1], a[0]
print('a =', a)

a = [6, 5, 7, 8]

In [ ]:
# Se pueden usar signos negativos para referir los √≠ndices desde el final para atras
a = [5, 6, 7, 8]
print('a[-1] =', a[-4])

a[-1] = 5

In [ ]:
# Slicing
a = [5, 6, 7, 8]
print('a[1:3] =', a[1:3])

# Se puede omitir el parametro de inicio para comenzar desde el principio
# Se puede omitir el parametro de fin para seguir hasta el final
# Se puede usar un salto negativo para recorrer la lista en sentido inverso
# Se puede invertir una lista de la siguiente forma
print('a[ : :-1] =', a[ : :-1] )

a[1:3] = [6, 7]
a[ : :-1] = [8, 7, 6, 5]

**Nota:** a diferencia de lo que dir√≠a el sentido com√∫n, el primer elemento de la lista se accede con el √≠ndice $0$. Esto sucede en muchos lenguajes de programaci√≥n hoy en d√≠a y una vez que uno se acostumbra resulta muy pr√°ctico empezar a contar desde $0$ para aplicaciones de programaci√≥n.

Otro tema a tener en cuenta es que no es posible ponerle el nombre *list* a una lista, ya que es una palabra reservada. Esta es una funci√≥n para generar una lista a partir de otro objeto, como un string. Por ejemplo:

In [ ]:
texto = "Hola"
lista = list(texto)

print(texto)
print(lista)

Una forma alternativa de generar una lista es utilizando la instrucci√≥n *for* dentro de los corchetes de la siguiente manera:

> b = **[** x **for** x **in** **range**(N) **]**

In [ ]:
b = [x for x in range(10)]
print(b)

# Este c√≥digo tan dif√≠cil a simple vista, es lo mismo que este:
b = []
for numero in range(10):
  b.append(numero)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


Podemos tambi√©n aplicar una funcion a la variable x
> a = **[** f(x) **for** x **in** **range**(N) **]**

In [ ]:
def multiplicarPor2(x):
  return x*2

a = [x for x in range(15)]
print(a)

b = [multiplicarPor2(x) for x in range(15)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Tambi√©n es posible utilizar un objeto iterable, en lugar de usar **range( )**.

In [ ]:
lista = [1, 2, 3, 4, 5]
for numero in lista:
  print(numero)

1
2
3
4
5

#### Operaciones sobre una lista
Podemos realizar m√∫ltiples operaciones sobre una lista:

- **a + b**: al igual que los strings se agrega el contenido de **b** al final de **a**.

In [ ]:
a = [1,2]
b = [3,4]
z = a + b
print(z)

[1, 2, 3, 4]

- **len**( $lista$ ): obtiene el largo de una lista.

In [ ]:
a = [1,2,3,4]
tamano = len(a)
print(tamano)

4

- **.sort**(): ordena los elementos de la lista.

In [ ]:
a = ["Hola", "Adios", "Como esta", "Buen d√≠a" ]
a.sort()
print(a)

b = [1, 2, 3, 123, 23, 12]
b.sort()
print(b)

# Es posible hacer un orden inverso indicando reverse=True
b.sort(reverse=True)
print(b)

['Adios', 'Buen d√≠a', 'Como esta', 'Hola']
[1, 2, 3, 12, 23, 123]
[123, 23, 12, 3, 2, 1]

Es posible definir una regla de ordenamiento personalizada. Se debe definir una funci√≥n, la cu√°l ser√° evaluada en cada elemento de la lista, y el resultado de esta funci√≥n se usa como criterio de orden. En la funci√≥n *sort* se debe ingresar como par√°metro *key=nombre_de_funcion*.

In [ ]:
# En este ejemplo la regla es la longitud del elemento
def mi_orden1(e):
  return len(e)

a = ["Hola", "Adios", "Como esta", "Buen d√≠a"]
a.sort(key=mi_orden1)
print("Orden final:", a)

# En este ejemplo se analiza el segundo valor de cada elemento
def mi_orden2(e):
  return e[1]

area = [ ["Argentina", 2.78], ["Brazil", 8.51], ["Mexico", 1.96] ]
area.sort(key=mi_orden2)
print("Orden final:", area)

Orden final: ['Hola', 'Adios', 'Buen d√≠a', 'Como esta']

- **.append**($algo$): permite agregar un elemento al final de la lista.

In [ ]:
mensaje = "Hola como estas"
v = [50, mensaje, 150.5, True]
print(v)

# Agrego al final de la lista un elemento que vale 200 (tipo int)
v.append(200)
print(v)

[50, 'Hola como estas', 150.5, True]
[50, 'Hola como estas', 150.5, True, 200]

- **.extend**($lista$): permite agregar elementos de una lista al final de otra. Es muy similar a la suma de listas.

In [ ]:
v = [1, 2, 3]
v2 = ["Uno", "Dos", "Tres"]
v.extend(v2)
print(v)

[1, 2, 3, 'Uno', 'Dos', 'Tres']

- **.pop**(): permite remover el ultimo elemento de la lista.

In [ ]:
v = ["Uno", 2, "Tres", 4, "Cinco"]
v.pop() # Quito el ultimo elemento
print(v)

['Uno', 2, 'Tres', 4]

- **.remove**($valor$): remueve el primer elemento de la lista cuyo valor sea el indicado.

In [ ]:
v = [1,2,1,2]
v.remove(2) # elimino el primer valor igual a 2
print(v)
v.remove(2) # elimino el primer valor igual a 2
print(v)

[1, 1, 2]
[1, 1]

- **del** lista**[*√≠ndice*]**: para eliminar un elemento en una posici√≥n determinada.

In [ ]:
a = ["hola","como","estas"]
del a[1]
print(a)

['hola', 'estas']

- $algo$ **in** lista: muchas veces es necesario saber si un elemento esta dentro de una lista, para ello utilizamos esta herrramienta.

In [ ]:
x = [1,2,3,5]
if 5 in x:
    x.remove(5)
else:
  print(5,'no esta en la lista')

print(x)

[1, 2, 3]

- **max**($lista$): Obtiene el valor m√°s alto de la lista.

In [ ]:
valor = max( [1, 2, 3, 4, 5, 4, 3, 2, 1] )
print(valor)

valor = max( ["Curso", "De", "Python"] )
print(valor)

5
Python

- **min**($lista$): Obtiene el valor m√°s bajo de la lista.

In [ ]:
valor = min( [1, 2, 3, 4, 5, 4, 3, 2, 1] )
print(valor)

valor = min( ["Curso", "De", "Python"] )
print(valor)

1
Curso

**Nota importante:** En Python las listas (list) son mutables, lo que significa que puedes modificar su contenido sin necesidad de crear una nueva lista.

In [ ]:
# Crear una lista
a = [1, 2, 3]
b = a  # 'b' apunta a la misma lista que 'a'

# Modificamos la lista a trav√©s de 'b'
b.append(4)

print(a)  # [1, 2, 3, 4]  <-- 'a' tambi√©n se modific√≥
print(b)  # [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 2, 3, 4]

 Aqu√≠ a y b apuntan a la misma lista en memoria, y como las listas son mutables, cualquier cambio hecho en b tambi√©n afecta a a.

 Las listas son mutables, lo que significa que pueden crecer y cambiar de tama√±o. Debido a esto:

* Se asigna un bloque de memoria contiguo inicial.
* Si la lista crece y no hay espacio suficiente, se crea una nueva ubicaci√≥n en memoria m√°s grande y se copian los elementos.
* Cada elemento de la lista es un puntero a su valor real en la memoria.

Adem√°s, hay que tener en cuenta que:
* La lista almacena punteros a los datos reales, por lo que los valores no est√°n necesariamente en posiciones contiguas.
* Si la lista crece y no hay espacio continuo, se mueve toda la lista a una nueva direcci√≥n de memoria.

![Captura de pantalla 2025-03-13 a las 13.15.01.png]()

Vamos a ver unos cuantos ejemplos de todo esto que se acaba de comentar:

In [ ]:
lista = [ 1, 2, 3, 4 ]
print(f"Lista = {lista}")

copia = lista
print(f"Copia = {copia}")

copia.remove(1)
print(f"Copia = {copia}")
print(f"Lista = {lista}")

Lista = [1, 2, 3, 4]
Copia = [1, 2, 3, 4]
Copia = [2, 3, 4]
Lista = [2, 3, 4]

¬øC√≥mo hacemos una copia **profunda?**

In [ ]:
import copy

lista = [ 1, 2, 3, 4 ]
copia = copy.deepcopy(lista)
copia.remove(1)
print(f"Copia = {copia}")
print(f"Lista = {lista}")

# Otra forma m√°s "normal"
lista = [ 1, 2, 3, 4 ]
copia = []
for num in lista:
  copia.append(num)

copia.remove(1)
print(f"Copia = {copia}")
print(f"Lista = {lista}")

Copia = [2, 3, 4]
Lista = [1, 2, 3, 4]
Copia = [2, 3, 4]
Lista = [1, 2, 3, 4]

Todo parece muy bonito pero... la segunda forma de hacer la copia tiene un peque√±o problema. Como ya sabemos, las listas son punteros a datos que tenemos alojados en la memoria de nuestro ordenador. Si nosotros recorremos una lista
con todo valores num√©ricos, simplemente vamos cogiendo uno a uno con un bucle for y este valor lo escribimos sobre la nueva tabla. ¬øQu√© ocurre si dentro de esta lista, adem√°s de tener n√∫meros, tenemos... **otra lista**? üòß

In [ ]:
lista = [ 1, 2, 3, [1, 2, 3] ]
copia = []
for num in lista:
  copia.append(num)
print(f"Copia = {copia}")
print(f"Lista = {lista}")

# Vamos a modificar de la lista interna, el primer dato... cambiando su valor a 6
copia[3][0] = 6
print(f"Copia = {copia}")
print(f"Lista = {lista}")

Copia = [1, 2, 3, [1, 2, 3]]
Lista = [1, 2, 3, [1, 2, 3]]
Copia = [1, 2, 3, [6, 2, 3]]
Lista = [1, 2, 3, [6, 2, 3]]

Como podemos ver, en este caso, si que se ha modificado en ambas listas. Cosa que NO queremos. Hay que tener en cuenta qu√©, cuando en el bucle hemos ido recorriendo elemento por elemento, cuando ha llegado a la lista interna, no es capaz de leer los elementos si no que lee una referencia a memoria que apunta al inicio de la lista interna. Como hemos copiado sin saberlo esa referencia, cada vez que hagamos el cambio de una de las lista, se har√° en las dos.

**NOTA IMPORTANTE:** si queremos hacer una copia profunda de una lista, siempre es recomendable usar la llamada a la librer√≠a COPY.

#### for sobre una lista
La instrucci√≥n *for* puede ir avanzando sobre todos los elementos de una lista:

In [ ]:
lista = [1, 10, 100, 1000, [5, 6, 7], 5, "hola"]

for elemento in lista:
    print(elemento)

1
10
100
1000
[5, 6, 7]
5
hola

### Tuplas

Las tuplas son muy similares a las listas. De hecho son como una lista de elementos que una vez creada no la podemos modificar, es decir, no podemos agregarle ni modificar ni eliminar elementos.

#### Creacion de tuplas

Asi como las listas se pueden crear con los corchetes [], las tuplas se pueden crear usando los parentesis ().

In [ ]:
tupla1 = (1,2,3,4)
print(tupla1)

(1, 2, 3, 4)

Para ver los elementos utilizamos los corchetes al igual que en las listas:

In [ ]:
tupla1[2]

3

Si queremos modificar un elemento nos dara error

In [ ]:
tupla1[2] = 20

TypeError: 'tuple' object does not support item assignment

¬øPara que se usan entonces si con las listas puedo hacer lo mismo y mas?

Es una buena pregunta y no hay una respuesta definitiva y clara pero podemos decir que en la practica se utilizan comunmente en los siguientes casos:

1. Cuando queremos devolver mas de un elemento de una funcion.
2. Cuando creamos una lista de elementos de distintos tipos, por ejemplo ("Caramelos",327,2.5)
3. Cuando queremos usar mas de un elemento como clave de un diccionario.

Los casos 2 y 3 los veremos en las siguientes unidades del curso.

Veamos ahora el caso 1. Crearemos una funcion que recibe una lista de numeros y devuelve dos valores, el menor y el mayor de dicha lista:

In [ ]:
def menor_y_mayor(lista):
    menor = min(lista)
    mayor = max(lista)
    tupla = (menor, mayor)
    return tupla

Veamos como funciona y que devuelve:

In [ ]:
x = menor_y_mayor([9,3,6,7,2,8,7])
print(x)
print(x[0])
print(x[1])

(2, 9)
2
9

Hay una forma mas utilizada de utilizar los valores de una lista que se llama unpacking y permite copiar cada elemento de una tupla a una variable distinta, se utiliza de la siguiente forma:

In [ ]:
mi_tupla = (100, 200)
elemento1, elemento2 = mi_tupla
print(elemento1)
print(elemento2)

mi_tupla = (100, 200, 300)
elemento1, _, elemento3 = mi_tupla
print(elemento1)
print(elemento2)

100
200

Si bien el unpacking funciona tambien con listas es mas comun utilizarlo con tuplas.

**Nota importante:** Las tuplas son inmutables, lo que significa que su tama√±o no cambia nunca.

* Python asigna un solo bloque de memoria contiguo para toda la tupla.
* Como no cambia, no hay necesidad de reservar m√°s memoria de la necesaria.
* Al ser m√°s eficiente, las tuplas consumen menos memoria que las listas.

Adem√°s, hay que tener en cuenta que:
* La tupla se almacena en memoria de forma contigua.
* Como la tupla es inmutable, Python puede optimizar el almacenamiento y hacer que su acceso sea m√°s r√°pido.

![Captura de pantalla 2025-03-13 a las 13.14.17.png]()

Bien... ahora esto... se complica un poco m√°s. Hemos dicho que las tuplas son inmutables, y es cierto... Pero, si en ellas almacenamos una estructura de datos mutable (como es el caso de las listas), la cosa cambia...

In [ ]:
# Se puede apreciar que Python nos deja acceder a la lista y modificar
# uno de sus elementos. Pero sin embargo, al resto de datos de la tupla no.
tupla = ([1, 2], [3, 4])
tupla[1][0] = 20
tupla[0][1] = 4
print(tupla)

tupla[1] = 16
print(tupla)

([1, 4], [20, 4])

TypeError: 'tuple' object does not support item assignment

Con las tuplas nos encontramos con el mismo problema que las listas:

In [ ]:
tupla = ([1, 2], 2)
tupla2 = tupla

tupla2[0][1] = 20
print(tupla2)
print(tupla)

([1, 20], 2)
([1, 20], 2)

In [ ]:
import copy

tupla_original = ([1, 2, 3], "hola", 42)
tupla_copia_profunda = copy.deepcopy(tupla_original)  # Copia profunda

tupla_copia_profunda[0].append(4)  # Modificamos solo la copia

print(tupla_original)  # ([1, 2, 3], 'hola', 42)  -> No se modifica
print(tupla_copia_profunda)  # ([1, 2, 3, 4], 'hola', 42)

([1, 2, 3], 'hola', 42)
([1, 2, 3, 4], 'hola', 42)

### Las funciones list() y tuple()
Las funciones tuple() y list() me permitiran crear tuplas y listas vacias y tambien convertir una lista en tupla y una tupla en lista a traves de las palabras tuple y list:

In [ ]:
tupla_vacia = tuple()
tupla_vacia_2 = ()
print(tupla_vacia)

lista_vacia = list()
lista_vacia_2 = []
print(lista_vacia)

()
[]

In [ ]:
# Convertir lista en tupla:
tuple([1,2,3])

(1, 2, 3)

In [ ]:
# Convertir tupla en lista:
list((1,2,3))

**Vamos ahora a hacer unos pocos ejercicios:**

In [ ]:
# Crea una funci√≥n suma_lista(lista) que reciba una lista de n√∫meros y devuelva
# la suma de sus elementos.
def suma_lista(lista):
  suma = 0
  for numero in lista:
    suma = suma + numero
  return suma

lista = [1, 2, 3, 4, 5]
suma = suma_lista(lista)
print(f"La suma total es = {suma}")

La suma total es = 15

In [ ]:
# Crea una funci√≥n max_min(tupla) que reciba una tupla de n√∫meros y devuelva el m√°ximo y m√≠nimo en una tupla.

################################################################################################
################################################################################################
# IMPORTANTE: si alguna vez no os deja utilizar alguna funcion, es porque habeis creado
# una variable con el mismo nombre. Para evitarlo ejecutad la orden -> del [nombre_variable]
################################################################################################
################################################################################################

def max_min_corto(tupla):
  return min(tupla), max(tupla)

def max_min(tupla):
  menor = 0
  mayor = 0
  for i, numero in enumerate(tupla):
    if i == 0:
      menor = numero
      mayor = numero
    else:
      if numero < menor: menor = numero
      if numero > mayor: mayor = numero
  return menor, mayor

tupla = (1, 2, 3)
menor, mayor = max_min(tupla)
print(menor)
print(mayor)

menor, mayor = max_min_corto(tupla)
print(menor)
print(mayor)

1
3
1
3

In [ ]:
# Escribe una funci√≥n existe_elemento(lista, elemento) que devuelva True si
#¬†el elemento est√° en la lista y False en caso contrario.
def existe_elemento(lista, elemento):
  if elemento in lista:
    return True
  else:
    return False

def existe_elemento(lista, elemento):
  if elemento in lista: return True
  return False

def existe_elemento(lista, elemento):
  return elemento in lista

# Otra forma de resolverlo sin utilizar la potencia de python
def existe_elemento_otro(lista, elemento):
  for elem in lista:
    if elemento == elem:
      return True
  return False

elemento = 3
lista = [1, 2, 3, 4, 5]
existe = existe_elemento(lista, elemento)
existe_otro = existe_elemento(lista, elemento)
print(f"Existe con 1¬∫ forma: {existe}")
print(f"Existe con 2¬∫ forma: {existe_otro}")

In [ ]:
# Crea una funci√≥n invertir_lista(lista) que reciba una lista y la devuelva invertida.
def invertir_lista(lista):
  lista_invertida = lista[ : :-1]
  # lista.reverse()
  return lista_invertida

# Forma que no utiliza la potencia de python (tradicional)
def invertir_lista_otra(lista):
  lista_invertida = []
  iterador = len(lista) - 1
  while iterador >= 0:
    lista_invertida.append(lista[iterador])
    iterador = iterador - 1
  return lista_invertida

lista = [1, 2, 3, 4, 5]
lista_invertida = invertir_lista(lista)
print(f"Lista invertida = {lista_invertida}")
lista = [1, 2, 3, 4, 5]
lista_invertida_otra = invertir_lista_otra(lista)
print(f"Lista invertida (largo) = {lista_invertida_otra}")

Lista invertida = [5, 4, 3, 2, 1]
Lista invertida (largo) = [5, 4, 3, 2, 1]

In [ ]:
# Crea una funci√≥n ordenar_por_suma(lista_tuplas) que ordene una lista de tuplas de menor a mayor seg√∫n la suma de sus elementos
lista = [(1, 2, 3), (3, 4, 5), (6, 7, 8), (0, 0, 0), (1, 1, 1), (3, 3, 3)]

# En este ejemplo se analiza el segundo valor de cada elemento
def orden_lista(tupla):
  suma = 0
  for numero in tupla:
    suma = suma + numero
  return suma

lista.sort(key=orden_lista)
print("Lista final:", lista)

Lista final: [(0, 0, 0), (1, 1, 1), (1, 2, 3), (3, 3, 3), (3, 4, 5), (6, 7, 8)]

### Diccionarios

Los estructuras de datos que ha visto hasta ahora (listas y tuplas) usan enteros como √≠ndices; si intenta usar cualquier otro tipo como √≠ndice provocar√° un error.

Los diccionarios son un tipo diferente de colecci√≥n. Son el tipo de mapeo incorporado de Python. Un mapa es una colecci√≥n no ordenada, asociativa. La asociaci√≥n, o asignaci√≥n, es de una clave, que puede ser de cualquier tipo inmutable, a un valor, que puede ser cualquier objeto de datos de Python (mutables o no mutables).

![texto alternativo](https://bjc.edc.org/bjc-r/img/python/dictionaries_vs_lists.jpg)

Como ejemplo, crearemos un diccionario para traducir las palabras en ingl√©s al espa√±ol. Para este diccionario, las claves son cadenas y los valores tambi√©n ser√°n cadenas.

Una forma de crear un diccionario es comenzar con el diccionario vac√≠o y agregar pares clave-valor. **El diccionario vac√≠o se denota `{}`**

In [ ]:
eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'

print(eng2sp)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

La primera asignaci√≥n crea un diccionario vac√≠o llamado `eng2sp`. Las otras asignaciones agregan nuevos pares clave-valor al diccionario. El lado izquierdo da el diccionario y la clave que se asocia. El lado derecho da el valor que se asocia con esa clave. Podemos imprimir el valor actual del diccionario de la forma habitual.


Los pares clave-valor del diccionario est√°n separados por comas. Cada par contiene una clave y un valor separados por dos puntos.


El orden de las parejas puede no ser lo que usted esperaba. Python utiliza algoritmos complejos, dise√±ados para un acceso muy r√°pido, para determinar d√≥nde se almacenan los pares clave-valor en un diccionario. Para nuestros prop√≥sitos, podemos pensar que este ordenamiento es impredecible.


Otra forma de crear un diccionario es proporcionar una lista de pares clave-valor utilizando la misma sintaxis que la salida anterior.

In [ ]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}

print(eng2sp)

{'three': 'tres', 'one': 'uno', 'two': 'dos'}

No importa en qu√© orden escribamos los pares. Se accede a los valores de un diccionario con claves, no con √≠ndices, por lo que no hay necesidad de preocuparse por el orden.


Ahora un ejemplo de c√≥mo usamos una clave para buscar el valor correspondiente:

In [ ]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}

print(eng2sp['three'])

tres

La declaraci√≥n **`del`** elimina un par clave-valor de un diccionario. Por ejemplo, el siguiente diccionario contiene los nombres de varias frutas y el n√∫mero de cada fruta en el inventario. Si alguien compra todas las peras, podemos eliminar la entrada del diccionario.

In [ ]:
inventario = {'manzanas': 430, 'bananas': 312, 'naranjas': 525, 'peras': 217}
print(inventario)
del inventario['peras']
print(inventario)

{'manzanas': 430, 'bananos': 312, 'naranjas': 525, 'peras': 217}
{'manzanas': 430, 'bananos': 312, 'naranjas': 525}

Los diccionarios tambi√©n son mutables. Como hemos visto antes con listas, esto significa que el diccionario se puede modificar haciendo referencia a una asociaci√≥n en el lado izquierdo de la declaraci√≥n de asignaci√≥n. En el ejemplo anterior, en lugar de eliminar la entrada de peras, podr√≠amos haber establecido el inventario en 0.

In [ ]:
inventario = {'manzanas': 430, 'bananas': 312, 'naranjas': 525, 'peras': 217}
print(inventario)
inventario['peras'] = 0
inventario['bananas'] = inventario['bananas'] + 1000
print(inventario)

{'manzanas': 430, 'bananos': 312, 'naranjas': 525, 'peras': 217}
{'manzanas': 430, 'bananos': 1312, 'naranjas': 525, 'peras': 0}

Observe que ahora hay 1312 bananos y 0 peras: el diccionario ha sido modificado.

Tenga en cuenta tambi√©n que la funci√≥n `len()` tambi√©n funciona en los diccionarios. Retorna el n√∫mero de pares clave-valor:

In [ ]:
inventario = {'manzanas': 430, 'bananos': 312, 'naranjas': 525, 'peras': 217}
print(len(inventario))

4

Los diccionarios tienen una serie de m√©todos incorporados √∫tiles. La siguiente tabla proporciona un resumen y se pueden encontrar m√°s detalles en la [documentaci√≥n de python](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) .



*   `keys()` -> Retorna una lista con las llaves del diccionario
*   `values()` -> Retorna una lista con los valores del diccionario
*   `items()` -> Retorna una vista de los pares clave-valor en el diccionario.
*   `get(key)` -> Retorna el valor asociado a la clave; `None` si no se encuentra.
*   `get(key, alt)` -> Retorna el valor asociado a la clave; $alt$ si no se encuentra.

Adicionalmente podemos comprobar r√°pidamente si una llave est√° definida en el diccionario con el operador `in`.

In [ ]:
inventario = {'manzanas': 430, 'bananos': 312, 'naranjas': 525, 'peras': 217}
print(inventario.keys())

dict_keys(['manzanas', 'bananos', 'naranjas', 'peras'])

In [ ]:
print(inventario.values())

dict_values([430, 312, 525, 217])

In [ ]:
print(inventario.items())

dict_items([('manzanas', 430), ('bananos', 312), ('naranjas', 525), ('peras', 217)])

In [ ]:
print(inventario.get("manzanas"))
print(inventario.get("chirimoya")) # no est√° en el inventario

430
None

In [ ]:
print(inventario.get("manzanas", "no se encontr√≥"))
print(inventario.get("chirimoya", "no se encontr√≥"))

430
no se encontr√≥

In [ ]:
print("manzanas" in inventario)
print("chirimoya" in inventario)

True
False

Como siempre, podemos iterar sobre listas generadas por las funciones previamente descritas.

In [ ]:
for llave in inventario.keys():
  print(llave)

manzanas
bananos
naranjas
peras

In [ ]:
for llave in inventario.keys():
  print(llave, inventario[llave])

manzanas 430
bananos 312
naranjas 525
peras 217

In [ ]:
for valor in inventario.values():
  print(valor)

430
312
525
217

In [ ]:
for llave, valor in inventario.items():
  print(llave, valor)

manzanas 430
bananos 312
naranjas 525
peras 217

# Cadenas frente a listas: similitudes y diferencias.

Las listas y las cadenas de caracteres (strings) son dos tipos de objeto de los denominados secuencias.

Como tales, las listas y las cadenas de caracteres comparten varias funciones y m√©todos, aunque tambi√©n tienen diferencias.

Las cadenas de caracteres son:

* homog√©neas: todos sus elementos son caracteres
* inmutables: las cadenas no pueden cambiar sus elementos.

Las listas, por su parte, son:

* heterog√©neas: sus elementos pueden ser de diferentes tipos, incluidas otras listas.
* mutables: se pueden modificar sus elementos, as√≠ como cambiar su longitud.
* multidimensionales: las listas pueden anidarse (un elemento de una lista puede ser otra lista) hasta cualquier nivel arbitrario, pudiendo generar as√≠ estructuras de datos multidimensionales.

In [ ]:
cadena = "Hola"
print(cadena[0])

H

In [ ]:
cadena = "Hola"
cadena[0] = "A"

TypeError: 'str' object does not support item assignment

###¬†Indexado y particionado
En los iterables, se puede acceder a cualquiera de sus elementos mediante su √≠ndice, y a una porci√≥n, indicando un rango entre dos √≠ndices separado por dos puntos.

Por lo tanto, para las cadenas de caracteres son v√°lidas las mismas operaciones de indexado y particionado vistas para las listas.

In [ ]:
cadena = "En un lugar de la Mancha"
print(cadena)

En un lugar de la Mancha

In [ ]:
cadena[0]

'E'

In [ ]:
cadena[-1]

'a'

In [ ]:
cadena[3:9]

'un lug'

Al igual que las listas, un string no es m√°s que una "lista" de varias caracteres. Podemos recorrerlos usando un bucle:

In [ ]:
cadena = "Hola que tal?"
for caracter in cadena:
  print(caracter)

H
o
l
a

q
u
e

t
a
l
?

In [ ]:
cadena = "Hola que tal?"
for i in range(0, len(cadena)):
  print(cadena[i])

H
o
l
a

q
u
e

t
a
l
?

In [ ]:
cadena = "Hola que tal?"
for i in range(len(cadena) - 1, -1, -1):
  print(cadena[i], end = "")

?lat euq aloH

In [ ]:
candena = "Hola como estas?"
for i, caracter in enumerate(cadena):
  print(f"Dato en posicion {i} -> {caracter}")

Dato en posicion 0 -> H
Dato en posicion 1 -> o
Dato en posicion 2 -> l
Dato en posicion 3 -> a
Dato en posicion 4 ->
Dato en posicion 5 -> q
Dato en posicion 6 -> u
Dato en posicion 7 -> e
Dato en posicion 8 ->
Dato en posicion 9 -> t
Dato en posicion 10 -> a
Dato en posicion 11 -> l
Dato en posicion 12 -> ?

Adem√°s, si queremos trabajar con las palabras de una cadena, se puede utilizar la funci√≥n split() para crear una lista con cada una de las palabras en una posici√≥n distinta de una nueva lista.

In [ ]:
cadena = "Hola como estas?"
cadena_split = cadena.split()
print(cadena_split)
for palabra in cadena_split:
  print(palabra)

['Hola', 'como', 'estas?']
Hola
como
estas?

Esta funci√≥n split() puede recibir como par√°metro cualquier caracter por el que queramos separar un string:

In [ ]:
cadena = "12;Alvaro;2000;30"
cadena_split = cadena.split(";")
print(cadena_split)

for palabra in cadena_split:
  print(palabra)

['12', 'Alvaro', '2000', '30']
12
Alvaro
2000
30

# Gesti√≥n de excepciones

Se pueden clasificar los errores en dos tipos: errores de sintaxis y excepciones. El primero surge cuando escribimos de _forma incorrecta_ en Python. El segundo puede presentarse a√∫n si se tiene una sintaxis correcta. En particular, nos preocuparemos por controlar las excepciones.

**Tipos de excepciones**

Algunos tipos de excepci√≥n y ejemplos de c√≥digo con errores:

Ejemplo de excepci√≥n:
+ OverflowError `pow(2.12, 1000)`
+ TypeError `'hola'[1] = 'j'`
+ IndexError `'hola'[7]`
+ NameError `x += 5`
+ FileNotFoundError `open('dsfdfd.txt')`

Ver la lista completa en el [documento](https://docs.python.org/3/library/exceptions.html).

**SyntaxError.** Se genera cuando el analizador encuentra un error de sintaxis.

In [ ]:
if 5 > 6
    print('Hello world')

SyntaxError: expected ':' (<ipython-input-85-176e36ee0de8>, line 1)

Una **excepci√≥n** es un error que ocurre mientras se ejecuta un programa, lo que hace que el programa se detenga abruptamente

**ZeroDivisionError.** Se genera cuando el segundo argumento de una operaci√≥n de divisi√≥n o m√≥dulo es cero.

In [ ]:
 100/0

ZeroDivisionError: division by zero

**NameError.** Se genera cuando no se encuentra un nombre local o global

In [ ]:
pi * 12 - 23

NameError: name 'pi' is not defined

Se tienen varias formas de manejar a las excepciones, la m√°s sencilla es la forma **try/except**

In [ ]:
# Bajo cualquier tipo de excepci√≥n que ocurra dentro de ¬¥try¬¥ se ejecuta lo que
# esta dentro del ¬¥except¬¥

b = 100
a = 0

try:
    print("el resultado es:", b/a)
except:
    print("Deda de jugar con la divisi√≥n compa")


for _ in range(4):
    print(_)

Deda de jugar con la divisi√≥n compa
0
1
2
3

In [ ]:
# Se especifica un manejo para una excepci√≥n
# Se especifica un manejo distinto para las dem√°s excepciones

b = 100
a = 10

try:
    print("el resultado es:", b/a)

except ZeroDivisionError:   # pueden ser varias al mismo tiempo
    print("Deda de jugar con la divisi√≥n compa")

except:
    print("Quien sabe que estes haciendo pero deja de jugar")

for _ in range(4):
    print(_)

Quien sabe que estes haciendo pero deja de jugar
0
1
2
3

In [ ]:
# Si no se encuentra la excepci√≥n a manejar el programa
# termina abruptamente

b = 100
a = 0

try:
    print("el resultado es:", b/w)

except ZeroDivisionError:   # pueden ser varias al mismo tiempo
    print("Deda de jugar con la divisi√≥n compa")


for _ in range(4):
    print(_)

Podemos agregar una sentencia opcional: **try/except/else**

Bajo esa situaci√≥n la sintaxis es la siguiente

```python
try:
   statement
   statement
   etc.
except ExceptionName:
   statement
   statement
   etc.
except:
  statment
else:
   statement
   statement
   etc.
```

Las sentencias dentro del else se ejecutan despu√©s de las sentencias dentro de try, solo si no se generaron excepciones.

Podemos agregar una sentencia opcional: **try/except/finally**

Bajo esa situaci√≥n la sintaxis es la siguiente

```python
try:
   statement
   statement
   etc.
except ExceptionName:
   statement
   statement
   etc.
finally:
   statement
   statement
   etc.
```

Las sentencias dentro de ¬¥finally¬¥ se ejecutan como intruciones finales del ¬¥try¬¥ o de la excepci√≥n (no importa lo que pase se ejecutar√°n).  Usualmente  cuando se incluye es para _limpiar_, como cerrar archivos u otros recursos.

Existen variantes de los manejos anteriores, por ejemplo:

- Pueden utilizarse al estructura: **try/except/else/finally** con sintaxis similar a las anteriores
- Dentro del finally puede existir un try/except

# Ejercicios pr√°cticos

* **Suma de una lista**: Dada una lista de n√∫meros, calcula la suma total de sus elementos.

In [3]:
# Suma de una lista: Dada una lista de n√∫meros, calcula la suma total de sus elementos.
def suma_lista(lista):
  suma = 0
  for numero in lista:
    suma += numero
  return suma

lista = [1, 2, 3, 4, 5]
suma = suma_lista(lista)
print(f"La suma de la lista es: {suma}")

La suma de la lista es: 15

* **Contar vocales en un string**: Dado un string, cuenta cu√°ntas vocales (a, e, i, o, u) tiene.

In [4]:
# Contar vocales en un string: Dado un string, cuenta cu√°ntas vocales (a, e, i, o, u) tiene.
def contar_vocales(texto):
  vocales = "aeiouAEIOU"
  contador = 0
  for caracter in texto:
    if caracter in vocales:
      contador += 1
  return contador

texto = input("Ingrese un texto: ")
cantidad_vocales = contar_vocales(texto)
print(f"El n√∫mero de vocales en el texto es: {cantidad_vocales}")

Ingrese un texto: Alfabeto
El n√∫mero de vocales en el texto es: 4

* **Buscar el n√∫mero mayor en una tupla**: Dada una tupla de n√∫meros, encuentra el n√∫mero m√°s grande.

In [7]:
# Buscar el n√∫mero mayor en una tupla: Dada una tupla de n√∫meros, encuentra el n√∫mero m√°s grande.
mi_tupla = (10, 5, 20, 15, 25)
numero_mayor = max(mi_tupla)
print(f"El n√∫mero mayor en la tupla es: {numero_mayor}")

El n√∫mero mayor en la tupla es: 25

* **Invertir un string sin usar [::-1]**: Dado un string, invi√©rtelo sin usar slicing ([::-1]).

In [9]:
# Invertir un string sin usar [::-1]: Dado un string, invi√©rtelo sin usar slicing ([::-1]).
def invertir_string(texto):
  string_invertido = ""
  for caracter in texto:
    string_invertido = caracter + string_invertido
  return string_invertido

texto = "Hola Mundo"
texto_invertido = invertir_string(texto)
print(f"El string original es: {texto}")
print(f"El string invertido es: {texto_invertido}")

El string original es: Hola Mundo
El string invertido es: odnuM aloH

 * **Eliminar duplicados de una lista**: Dada una lista con elementos repetidos, devuelve una nueva lista sin duplicados.

In [11]:
# Eliminar duplicados de una lista: Dada una lista con elementos repetidos, devuelve una nueva lista sin duplicados.
def eliminar_duplicados(lista):
  return list(set(lista))

mi_lista = [1, 2, 2, 3, 4, 4, 5, 1]
lista_sin_duplicados = eliminar_duplicados(mi_lista)
print(f"La lista original es: {mi_lista}")
print(f"La lista sin duplicados es: {lista_sin_duplicados}")

La lista original es: [1, 2, 2, 3, 4, 4, 5, 1]
La lista sin duplicados es: [1, 2, 3, 4, 5]

* **Contar palabras en un string**: Dado un string con una frase, cuenta cu√°ntas palabras tiene.

In [13]:
# Contar palabras en un string: Dado un string con una frase, cuenta cu√°ntas palabras tiene.
def contar_palabras(texto):
  palabras = texto.split()
  return len(palabras)

mi_texto = "Esta es una frase de ejemplo."
numero_de_palabras = contar_palabras(mi_texto)
print(f"El n√∫mero de palabras en el texto es: {numero_de_palabras}")

El n√∫mero de palabras en el texto es: 6

* **Intercambiar clave y valor en un diccionario**: Dado un diccionario, intercambia las claves y valores.

In [15]:
# Intercambiar clave y valor en un diccionario: Dado un diccionario, intercambia las claves y valores.
def intercambiar_clave_valor(diccionario):
  return {valor: clave for clave, valor in diccionario.items()}

mi_diccionario = {"a": 1, "b": 2, "c": 3}
diccionario_intercambiado = intercambiar_clave_valor(mi_diccionario)
print(f"Diccionario original: {mi_diccionario}")
print(f"Diccionario intercambiado: {diccionario_intercambiado}")

Diccionario original: {'a': 1, 'b': 2, 'c': 3}
Diccionario intercambiado: {1: 'a', 2: 'b', 3: 'c'}

* **Encontrar palabras pal√≠ndromas en una lista**: Dada una lista de palabras, devuelve una nueva lista con las palabras que sean pal√≠ndromos.

In [16]:
# Encontrar palabras pal√≠ndromas en una lista: Dada una lista de palabras, devuelve una nueva lista con las palabras que sean pal√≠ndromos.
def es_palindromo(palabra):
  return palabra == palabra[::-1]

def encontrar_palindromos(lista_palabras):
  palindromos = []
  for palabra in lista_palabras:
    if es_palindromo(palabra):
      palindromos.append(palabra)
  return palindromos

lista_de_palabras = ["ala", "casa", "reconocer", "sol", "nivel"]
palabras_palindromas = encontrar_palindromos(lista_de_palabras)
print(f"La lista original de palabras es: {lista_de_palabras}")
print(f"Las palabras pal√≠ndromas son: {palabras_palindromas}")

La lista original de palabras es: ['ala', 'casa', 'reconocer', 'sol', 'nivel']
Las palabras pal√≠ndromas son: ['ala', 'reconocer']

* **Crear una lista de tuplas con √≠ndice y valor**: Dada una lista, genera una lista de tuplas donde cada tupla tenga el √≠ndice y el valor correspondiente.

Salida esperada: [(0, "a"), (1, "b"), (2, "c")]

In [17]:
# Crear una lista de tuplas con √≠ndice y valor: Dada una lista, genera una lista de tuplas donde cada tupla tenga el √≠ndice y el valor correspondiente.

# Salida esperada: [(0, "a"), (1, "b"), (2, "c")]
def lista_a_tuplas_con_indice(lista):
  lista_de_tuplas = []
  for indice, valor in enumerate(lista):
    lista_de_tuplas.append((indice, valor))
  return lista_de_tuplas

mi_lista = ["a", "b", "c"]
lista_de_tuplas = lista_a_tuplas_con_indice(mi_lista)
print(f"La lista original es: {mi_lista}")
print(f"La lista de tuplas con √≠ndice y valor es: {lista_de_tuplas}")

La lista original es: ['a', 'b', 'c']
La lista de tuplas con √≠ndice y valor es: [(0, 'a'), (1, 'b'), (2, 'c')]

* **CRUD en una lista de tuplas**: Crea un CRUD (Create, Read, Update, Delete) que gestione una lista de estudiantes representados como tuplas ((id, nombre, edad)). Implementa las siguientes funciones:
  * crear_estudiante(lista, id, nombre, edad): Agrega un nuevo estudiante a la lista.
  * leer_estudiantes(lista): Muestra todos los estudiantes.
  * actualizar_estudiante(lista, id, nuevo_nombre, nueva_edad): Modifica los datos de un estudiante. **¬øC√≥mo har√≠as esto?**
  * eliminar_estudiante(lista, id): Elimina un estudiante.

In [18]:
def crear_estudiante(lista, id, nombre, edad):
  lista.append((id, nombre, edad))
  print(f"Estudiante {nombre} agregado.")

def leer_estudiantes(lista):
  print("Lista de estudiantes:")
  if not lista:
    print("No hay estudiantes en la lista.")
  else:
    for estudiante in lista:
      print(f"ID: {estudiante[0]}, Nombre: {estudiante[1]}, Edad: {estudiante[2]}")

def actualizar_estudiante(lista, id, nuevo_nombre, nueva_edad):
  for i, estudiante in enumerate(lista):
    if estudiante[0] == id:
      # Como las tuplas son inmutables, creamos una nueva tupla y reemplazamos la antigua
      lista[i] = (id, nuevo_nombre, nueva_edad)
      print(f"Estudiante con ID {id} actualizado.")
      return
  print(f"No se encontr√≥ estudiante con ID {id}.")


def eliminar_estudiante(lista, id):
  for i, estudiante in enumerate(lista):
    if estudiante[0] == id:
      del lista[i]
      print(f"Estudiante con ID {id} eliminado.")
      return
  print(f"No se encontr√≥ estudiante con ID {id}.")

# Ejemplo de uso del CRUD
lista_estudiantes = []

crear_estudiante(lista_estudiantes, 1, "Ana", 20)
crear_estudiante(lista_estudiantes, 2, "Luis", 22)
leer_estudiantes(lista_estudiantes)

actualizar_estudiante(lista_estudiantes, 1, "Ana Maria", 21)
leer_estudiantes(lista_estudiantes)

eliminar_estudiante(lista_estudiantes, 2)
leer_estudiantes(lista_estudiantes)

eliminar_estudiante(lista_estudiantes, 3) # Intentar eliminar un estudiante que no existe

Estudiante Ana agregado.
Estudiante Luis agregado.
Lista de estudiantes:
ID: 1, Nombre: Ana, Edad: 20
ID: 2, Nombre: Luis, Edad: 22
Estudiante con ID 1 actualizado.
Lista de estudiantes:
ID: 1, Nombre: Ana Maria, Edad: 21
ID: 2, Nombre: Luis, Edad: 22
Estudiante con ID 2 eliminado.
Lista de estudiantes:
ID: 1, Nombre: Ana Maria, Edad: 21
No se encontr√≥ estudiante con ID 3.